:root {
    --PrimaryColor: #E7A304;
    --SecondaryColor: hsla(180, 6%, 85%, 0.938);
    --gradientColor: linear-gradient(to right, hsl(48, 11%, 74%), hsl(44, 92%, 49%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
  }
  
  .no-page {
  
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-color: #f0f0f0;
    }
    
    .no-page-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    h1 {
      font-size: 6rem;
      margin-bottom: 1rem;
      color: #333;
    }
    
    p {
      font-size: 1.5rem;
      color: #666;
    }
    