@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500;600;700;800;900&display=swap");
:root {
  --PrimaryColor: hsl(44, 95%, 43%);
  --SecondaryColor: hsla(180, 6%, 85%, 0.938);
  --gradientColor: linear-gradient(
    to right,
    hsl(48, 11%, 74%),
    hsl(44, 92%, 49%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
}

.home {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.home video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .homeContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 10rem 1.5rem 5rem;
  display: flex;
  row-gap: 0.6rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}
.home .homeContent .textDiv {
  padding: 1rem 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home .homeContent .textDiv .homeTitle {
  font-weight: 700;
  font-size: 21px;
}
.home .homeContent .textDiv .smallText {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  margin-top: 10px;
}
.home .homeContent .buttonDiv .btn {
  font-weight: 600;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  border: 1px var(--PrimaryColor) solid;
}
.home .homeContent .buttonDiv .btn:hover {
  background: transparent;
  color: var(--PrimaryColor);
}
.home .homeContent .buttonDiv .stream-btn {
  background-color: transparent;
  color: var(--PrimaryColor);
}
.home .homeContent .buttonDiv .stream-btn:hover {
  background: var(--PrimaryColor);
  color: black;
}
.home .homeContent .buttonDiv .icons-container {
  position: absolute;
  display: flex;
  margin-top: 10px;
}
.home .homeContent .buttonDiv .icons-container a {
  display: flex;
  flex-grow: grow;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  color: var(--PrimaryColor);
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.home .homeContent .buttonDiv .icons-container a:hover {
  background-color: var(--PrimaryColor);
  color: #fff;
}

@media screen and (min-width: 500px) {
  .home .homeContent .textDiv .smallText {
    font-size: 17px;
    font-weight: 300;
  }
  .home .homeContent .textDiv .homeTitle {
    font-size: 25px;
    font-weight: 700;
    word-break: break-all;
  }
  .home .homeContent .buttonDiv {
    margin-top: 10px;
  }
  .home .homeContent .buttonDiv .btn {
    font-weight: 500;
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .home .homeContent {
    margin: 4rem;
  }
  .home .homeContent .textDiv .smallText {
    font-size: 17px;
    font-weight: 300;
  }
  .home .homeContent .textDiv .homeTitle {
    font-size: 35px;
    font-weight: 700;
    word-break: break-all;
  }
  .home .homeContent .buttonDiv {
    display: flex;
    gap: 1px;
    margin-top: 10px;
  }
  .home .homeContent .buttonDiv .btn {
    font-weight: 600;
    font-size: 13px;
  }
}/*# sourceMappingURL=Home.css.map */