:root {
  --PrimaryColor: #e7a304;
  --SecondaryColor: hsla(180, 6%, 85%, 0.938);
  --gradientColor: linear-gradient(
    to right,
    hsl(48, 11%, 74%),
    hsl(44, 92%, 49%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
}

.gallery {
  .hero {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }

    .hero-description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: var(--whiteColor);
      max-width: 80%;

      h2 {
        font-size: 32px;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }

  .gallery-categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;

    button {
      padding: 6px 10px;
      margin-right: 10px;
      background-color: var(--SecondaryColor);
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: var(--PrimaryColor);
        color: var(--whiteColor);
      }
    }
  }

  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .gallery-item {
      width: 300px;
      margin: 10px;

      img {
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }
  }

  .gallery-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    ul {
      list-style: none;
      padding: 0;
      display: flex;

      li {
        margin: 0 5px;

        button {
          padding: 5px 10px;
          background-color: transparent;
          border: none;
          color: #000;
          cursor: pointer;

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }
}
